@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Figtree', sans-serif;
}

.hero {
    background-image: url("../img/4k.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}